# Byte-compiled
*.pyc

# Tests
.coverage
.tox
.pytest_cache

# Distribution
env/
dist/
build/
*.egg-info
.eggs
_build
distribute-*

# Others
.DS_Store
.*.sw[op]
*~

# IntelliJ Idea family of suites
.idea
*.iml
