# Byte-compiled
*.pyc

# Tests
.coverage
.tox
.pytest_cache
.ruff_cache
.rumdl_cache

# Virtual environments
/venv*
/.venv*

# Distribution
env/
dist/
build/
*.egg-info
.eggs
_build
distribute-*

# Others
.DS_Store
.*.sw[op]
*~
.vscode

# IntelliJ Idea family of suites
.idea
*.iml
